body {
    font-family: 'Poppins', 'Montserrat', 'Raleway', sans-serif;
    color: #fff; /* Цвет текста */
    background-color: #111; /* Темный фон для контраста */
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #000;
    width: 100vw; /* Делаем хэдер во всю ширину экрана */
    position: fixed; /* Фиксируем наверху */
    top: 0;
    left: 0;
    right: 0;
    margin: 0; /* Убираем возможные отступы */
    z-index: 1000; /* Устанавливаем высокий z-index для приоритета слоя */
}

header .logo {
    position: absolute;
    left: 2rem;
    
}


header .logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

header .logo img:hover {
    transform: scale(1.1); /* Увеличение при наведении */
    opacity: 0.8; /* Легкая прозрачность */
}

header nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

header nav ul {
    display: flex;
    gap: 1.5rem;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: #ddd;
    text-transform: uppercase;
    text-decoration: none; /* Убираем стандартное подчеркивание */
    position: relative;
    transition: color 0.3s ease;
}

header nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px; /* Расстояние подчеркивания от текста */
    width: 0;
    height: 2px;
    background-color: #ff8c00;
    transition: width 0.3s ease-in-out;
}

header nav ul li a:hover {
    color: #ff8c00;
}

header nav ul li a:hover::after {
    width: 100%; /* Подчеркивание растягивается при наведении */
}

header nav ul li a:hover {
    color: #ff8c00;
}

header nav ul li p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: #ddd;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 15px;
    cursor: pointer;
    transition: color 0.3s ease;
}

header nav ul li p:hover {
    color: #ff8c00;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    position: relative;
}

nav ul li a {
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 10px;
    background-color: rgb(0, 0, 0);
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-menu li a {
    padding: 10px 15px;
    white-space: nowrap;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

